*{
    margin: 0;
    padding: 0;
    
}
.container1{
    margin: 20px;
    padding: 20px;
    background-color: rgba(229, 228, 245, 0.925);
    width:1000px;
    height: 150px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 200px;
    font-size: 15px;
    box-shadow: inset -10px -10px 10px rgba(102, 102, 102, 0.5);
    
}
